.bloc-container {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 1px solid #b0a4a4; */

  padding-bottom: 50px;
  border-radius: 0.25rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background-color: #f7f2f2;
  margin-bottom: 30px;
  flex-grow: 0;
}

