

@media screen and (max-width: 768px) {
  .bloc-profile {
    font-family: "Montserrat";
    width: 90%;
    margin-bottom: 7px;
  }
  .competence {
    width: 45%;
  }
  .accroche {
    margin-top: 20px;
  }
  .competence ul {
    font-family: "Montserrat";
    color: #533d3d;
    font-size: 14px;
  }
}


@media screen and (max-width: 425px) {
  .identity {
    padding: 7px;
  }
  div.bloc-profile {
    width: 100%;
    padding: 0;
  }
  div.bloc-profile p{
    margin: 7px 10px;
  }

  /* .profileinfos {
    align-self: start;
    line-height: 1.5em;
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
  } */

  .profilename {
    font-size: 20px;
  }

  .accroche {
    padding-top: 17px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 17px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .competences-fonctionnelles-container div {
    width: 100%;
  }

  .competences-fonctionnelles-container div h2 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .profileinfos {
    align-self: start;
    line-height: 1.5em;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
  }
 
}
